root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true     # elimina espacion blancos al final
insert_final_newline = true         
end_of_line = lf                    # lf para indicar final de línea
# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = null
